<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= username %>'s <%= title %> Recipe
  </title>
  <link rel="stylesheet" href="/css/recipe.css">
  <%- include('_universal') %>
</head>

<body>
  <%- include('_header') %>
  
    <button type="button" style="background-color: red;" id="deleteRecipe">DELETE THIS RECIPIE</button>
 
  
  <form action="/api/edit" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="name" placeholder="Recipe Name" value="<%= title %>" required>
    <h2>By: <%= username %></h2>
    <div id="allergen_box">
        <% ['eggs','dairy','gluten','nuts','vegan'].forEach(function(i){ %>
          <% if(allergens.includes(i)) { %>
            <div class="allergen">
            <input type="checkbox" name="<%= i %>" id="<%= i %>" checked>
            <label for="<%= i %>">
                <img src="/img/P<%= i %>.png" alt="">
            </label></div>
          <% } else {%>
            <div class="allergen">
            <input type="checkbox" name="<%= i %>" id="<%= i %>">
            <label for="<%= i %>">
                <img src="/img/<%= i %>.png" alt="">
            </label></div>
          <% } %>
        <% }) %>
      
    </div>
    <textarea type="text" name="ingredients" rows="40" cols="80" id="ingredients" placeholder="Ingredients" required><%= ingredients %></textarea>
    <textarea name="instructions" id="instructions" rows="40" cols="80" placeholder="Instructions" required><%= instructions %></textarea>
    <div id="img_container">
      <% img.forEach(function(i){ %>
        <div class="old_img_holder">
            <img src="../<%= i %>" alt="">
            <button type="button" onclick="document.getElementById('imgRemove').value += '<%= i %>';this.parentElement.remove()">REMOVE IMAGE</button>
        </div>
        
      <% }) %>
    </div>
    <input type="hidden" id="imgRemove" name="imgRemove">
    <input type="hidden" name="oldURI" id="uri" value="<%= uri %>">
    <label for="images">Add New Images</label>
    <input type="file" name="images" id="images" accept="image/*" multiple>
    <input type="submit" value="SUBMIT">
  </form>
  <script src="/js/edit.js"></script>

</body>

</html>