<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>'s <%= title %> recipe</title>
    <link rel="stylesheet" href="css/recipe.css">
    <%- include('_universal') %>
</head>
<body>
    <%- include('_header') %>
    <% if (session.username) {%>
        <div id="rate">
            you are logged in
        </div>
    <% } %>
    <h1><%= title %></h1>
    <h2>By: <%= username %></h2>

    <h3>Ingredients:</h3>
    <p><%= ingredients %></p>

    <h3>Instructions:</h3>
    <p><%= instructions %></p>

    <div id="img_container">
        <% img.forEach(function(i){ %>
            <img src="../<%= i %>" alt="">
        <% }) %>
    </div>
</body>
</html>