<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>'s <%= title %> Recipe</title>
    
    <%- include('_universal') %>
    <link rel="stylesheet" href="/css/recipe.css">
</head>
<body>
    <%- include('_header') %>
    <% if (session.username) {%>
        <div id="rate">
            <% if(likes.includes(session.username)) {%>
                <img src="/img/cat_like.png" alt="" class="vote active" id="like">
            <% } else {%>
                <img src="/img/cat_like_inactive.png" alt="" class="vote" id="like">
            <% } %>

            <% if(dislikes.includes(session.username)) {%>
                <img src="/img/cat_dislike.png" alt="" class="vote active" id="dislike">
            <% } else {%>
                <img src="/img/cat_dislike_inactive.png" alt="" class="vote" id="dislike">
            <% } %>
            
            <% if(favs.includes(uri)) {%>
                <img src="/img/fav.png" id="favorite" class="vote active" alt="">
            <% } else {%>
                <img src="/img/fav_inactive.png" id="favorite" class="vote" alt="">
            <% } %>
            
        </div>
    <% } %>
    <input type="hidden" name="">
    <h1 id="title"><%= title %></h1>
    <h2 id="username">By: <%= username %></h2>

    <h3>Ingredients:</h3>
    <p><%= ingredients %></p>

    <h3>Instructions:</h3>
    <p><%= instructions %></p>

    <div id="img_container">
        <% img.forEach(function(i){ %>
            <img class="recipe_img" src="../<%= i %>" alt="">
        <% }) %>
    </div>
    <script src="/js/recipe.js"></script>
</body>
</html>